*{
    background-image: linear-gradient(to right, purple , green);
    color: white;
    font-size: 30px;
}
.radoptions{
    font-size: 100px!important;
}
button{
    padding: 15px;
    width: 10%;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 900;
    background-color: black!important;
}
/* form{
    margin:auto;
    position: absolute;
    top: 130px;
    bottom:0px;
} */
.a{
    padding: 15px;
    width: 20%;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    top: 30px;
}
.p{
    font-size: 150px;
    width: 60%;
    margin: auto;
    position: relative;
    top: 250px;
}
/* input[type="submit"]{
    position: relative;
    bottom: 300px;
    float: right;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
} */
.s{
    font-size: 66px;
    width: 50%;
    margin: auto;
    position: relative;
    top: 250px;
    text-transform: uppercase;
}